{% extends 'index.html' %}
{%block title%}
Password Reset Complete
{%endblock title%}
{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Password Reset Complete</h2>
                    <p>Your password has been successfully reset. You can now log in with your new password.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}