{% extends 'index.html' %}
{% block body %}

<div style="display: flex;flex-direction: column;  ;">
<div class="c" style="display:flex;flex-direction:column ;align-items:center;justify-content: center; align-items:center; margin: 2.5%; ">
    <div class="card" style="max-width:80% ; display:flex;">
      <div class="card-body" style="display:flex">
        <img class="rounded-circle img-thumbnail" style="height:64px; width:64px"src="{{object.author.profile.image.url}}">
        <div style="display: flex; flex-direction: column; margin-left: 2%;">
        <h5 class="card-title">{{object.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">By author {{object.author}}</h6>
        <p class="card-text">{{object.content}}</p>
        <p class="">{{object.date|date:"F d,Y"}}</p>
      </div>
      </div>
    </div>
  </div>
    
    {% endblock body %}